* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none ; 
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container_1 {
    display: flex;
    flex-direction: column;
    min-width: 870px;
}
.header-container {
    background-color: rgb(201, 231, 221);
    display: flex;
    height: 80px;
}
.header_1 {
    margin-top: 35px;
    margin-left: 50px;
    min-width: 300px;
    font-size: 40px;
    color: #000000;
    font-weight: 800;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
}

.header_1_2 {
    color: #8a4848;
}

.header_2 {
    margin-top: 35px;
    margin-right: 50px;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    font-family: "Poppins", Arial, sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    height: 65px;
    background-color:  rgba(4, 44, 78, 0.7);
}
.nav_1 {
    display: flex;
    min-width: 600px;
}
.nav-tip {
    width: 200px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-family: "Poppins", Arial, sans-serif;
    color: rgb(207, 228, 247);
    font-weight: 700;
    font-size: 20px;
}

.nav-tip a:visited { color: rgb(207, 228, 247);}

.content_1 {

    min-height: calc(100vh - 180px);
}
.footer {
    flex: 0 0 auto;
    background-color: rgb(179, 179, 218);
    height: 35px;
    border: 2px solid rgb(74, 74, 82);;
}
/* signup */

.card {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-family: "Poppins", Arial, sans-serif;
    border-style: solid;
    border-radius: 4px;
    border-color: #c9c9c9;
    border-width: 1px;
    height: auto;
}
.card-header {
    background-color: #f8f8f8;
    text-align: center;
    font-size: large;
    border-width: 1px;
    border-style: solid;
    border-color: #c9c9c9;
    line-height: 40px;
}
.card-body {
    margin-top: 25px;
    justify-content: center;
}
.card-body-error {
    text-align: center;
    color: red;

}
.form-signup {
    width: 780px;
    text-align: center;
}

.form-field {
    display: grid;
    grid-template-columns: 3fr 5fr;
    text-align: left;
}

.form-find-name {
    line-height: 50px;
    padding-right: 40px;
    text-align: end;
}
.form-field_1 {
    line-height: 50px;
    display: grid;
}

.form-input input {
    width: 250px;
    height: 27px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding-left: 5px;
}
.field-help-text {
    line-height: 20px;
    width: 300px;
}
.field-help-text li {
    margin-left: 20px;
}

.form-button {
    text-align: center;
    margin-bottom: 30px;
}
.form-button button {
    margin-top: 25px;
    height: 27px;
    width: 200px;
    color: white;
    background-color: rgba(43, 82, 255, 0.9);
    border: 1px solid rgba(27, 45, 126, 0.7);
    border-radius: 5px;
}
.form-button button:hover {
    transition: all 0.5s;
    background-color: #111ba5;
}

.form-field-login {
    display: grid;
    text-align: left;
}

.form-field_1-login {
    line-height: 50px;
    display: grid;
    grid-template-columns: 4fr 5fr;
}
.card-body-avt {
    text-align: center;
}
.home-page {
    min-height: calc(100vh - 180px);
    background: url(../images/met_kon.jpg) 50% 0/100% no-repeat;

}